@import "../styles";

.title-bar {
  margin: 10px 0 10px 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(to right, @color-blue, @color-green);

  .title {
    font-size: 40px;
  }
}

.app-body {
  margin: 8px;
  .search-bar {
    display: flex;
    input {
      width: 90%;
      margin: 1%;
      border-radius: 3px;
      border-style: ridge;
      height: 40px;
      font-size: 25px;
      padding-left: 20px;
    }
    .search-button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      height: 45px;
      width: 45px;
      background-color: @color-green;
      .search-button {
        color: white;
      }
    }

  }
  .favourites-title {
    font-size: 32px;
    margin: 0;
    color: @color-green;
  }
}

