<div class="title-bar">
    <h1 class="title">Toronto Waste Lookup</h1>
</div>
<div class="app-body">
    <div class="search-bar">
        <input #searchInput>
        <button (click)="searchItems(searchInput.value)">Search</button>
    </div>
    <app-waste-category *ngFor="let item of searchResults"
                        [wasteCategory]="item"
                        (addToFavourites)="addToFavourites($event)"
                        (removeFromFavourites)="removeFromFavourites($event)">
    </app-waste-category>
    <h2 class="favourites-title">Favourites</h2>
    <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i>
    <app-waste-category *ngFor="let item of favourites"
                        [wasteCategory]="item"
                        (addToFavourites)="addToFavourites($event)"
                        (removeFromFavourites)="removeFromFavourites($event)">
    </app-waste-category>
</div>
